In [1]:
S1 = "Maha Bharat"


result1 = S1.swapcase()

print(result1)

result2=S1[5:]
print(result2)
print(S1)
result3=result2*3
print(result3)
result4=S1.replace("Maha","Mera")
print(result4)
print(f"{result4} Mahan")

mAHA bHARAT
Bharat
Maha Bharat
BharatBharatBharat
Mera Bharat
Mera Bharat Mahan

In [3]:
S="Ba Ba Black Sheep"
result1=len(S)
print(result1)
result2=S.find('e')
result3=S.count('a')
print(result2)
print(result3)
result4=S.replace("Ba","Ta")
print(result4)

17
14
3
Ta Ta Black Sheep

In [5]:
a=input("Enter a string :- ")
if(a[::-1] == a):
    print("Pal")
else:
    print("Not a pal")

Enter a string :-  hello world

Not a pal

In [2]:
import pandas as pd

In [5]:
name = input("Enter the student's name: ")
roll_number = input("Enter the roll number: ")
marks = float(input("Enter the marks secured in Mathematics out of 100: "))


if marks >= 90:
    grade_point = 10
    remark = "OUTSTANDING"
elif 80 <= marks < 90:
    grade_point = 9
    remark = "VERY GOOD"
elif 70 <= marks < 80:
    grade_point = 8
    remark = "GOOD"
elif 60 <= marks < 70:
    grade_point = 7
    remark = "AVERAGE"
elif 50 <= marks < 60:
    grade_point = 6
    remark = "PASS"
else:
    grade_point = 0
    remark = "FAIL"


print("\nStudent Details:")
student_data = [
    {'Name': name, 'RollNo.': roll_number, 'Marks': marks, 'Grade': grade_point, 'Remark': remark}
]
data = pd.DataFrame(student_data)
data

Enter the student's name:  govind
Enter the roll number:  52
Enter the marks secured in Mathematics out of 100:  98

Student Details:

     Name RollNo.  Marks  Grade       Remark
0  govind      52   98.0     10  OUTSTANDING

In [15]:
import pandas as pd

data = pd.DataFrame(columns=['Name', 'RollNo.', 'Marks', 'Grade', 'Remark'])

In [23]:


def add_row():
    name = input("Enter Name: ")
    roll_number = input("Enter Roll Number: ")
    marks = int(input("Enter Marks: "))
    if marks >= 90:
        grade_point = 10
        remark = "OUTSTANDING"
    elif 80 <= marks < 90:
        grade_point = 9
        remark = "VERY GOOD"
    elif 70 <= marks < 80:
        grade_point = 8
        remark = "GOOD"
    elif 60 <= marks < 70:
        grade_point = 7
        remark = "AVERAGE"
    elif 50 <= marks < 60:
        grade_point = 6
        remark = "PASS"
    else:
        grade_point = 0
        remark = "FAIL"
    
    new_row = pd.DataFrame({
        'Name': [name],
        'RollNo.': [roll_number],
        'Marks': [marks],
        'Grade': [grade_point],
        'Remark': [remark]
    })
    
    global data
    data = pd.concat([data, new_row], ignore_index=True)

add_row()

data

Enter Name:  Sudha
Enter Roll Number:  21
Enter Marks:  76

       Name RollNo. Marks Grade       Remark
0  akhilesh      60    65     7          bad
1  akhilesh      60    90    10  OUTSTANDING
2     Sudha      21    76     8         GOOD

In [9]:
import math


a = int(input("Enter coefficient a: "))
b = int(input("Enter coefficient b: "))
c = int(input("Enter coefficient c: "))


discriminant = b**2 - 4*a*c


if discriminant > 0:
    
    R1 = (-b + math.sqrt(discriminant)) / (2 * a)
    R2 = (-b - math.sqrt(discriminant)) / (2 * a)
    print(f"The equation has two distinct real roots: R1 = {R1}, R2 = {R2}")
elif discriminant == 0:
   
    R1 = R2 = -b / (2 * a)
    print(f"The equation has one real repeated root: R1 = R2 = {R1}")
else:
   
    real_part = -b / (2 * a)
    imaginary_part = math.sqrt(-discriminant) / (2 * a)
    print(f"The equation has two complex roots: R1 = {real_part} + {imaginary_part}i, R2 = {real_part} - {imaginary_part}i")

Enter coefficient a:  4
Enter coefficient b:  3
Enter coefficient c:  2

The equation has two complex roots: R1 = -0.375 + 0.5994789404140899i, R2 = -0.375 - 0.5994789404140899i