In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('AQI_Data.csv')

In [8]:
#display first 5 rows
print("first 5 rows")
print(df.head())

first 5 rows
    City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
0  Delhi  2024-01-01  152    153   151  26.509131  1.581413  123.401530
1  Delhi  2024-01-02  264    288   268  87.955853  1.242119  144.533790
2  Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3  Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
4  Delhi  2024-01-05  237    266   250  51.046299  1.591834   47.938019

         SO2
0  25.062474
1   5.926302
2  32.786668
3   7.099955
4  28.140550

In [9]:
#display last 5 rows
print("last 5 rows")
print(df.tail())

last 5 rows
      City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
2557  Pune  2024-12-27  419    448   462  26.701714  1.553582   86.973954
2558  Pune  2024-12-28  252    202   182  19.920962  1.599821   41.939484
2559  Pune  2024-12-29  365    414   410  80.815702  1.919950   39.982167
2560  Pune  2024-12-30  253    269   285  66.231614  0.611800   63.966705
2561  Pune  2024-12-31   95    140   117  99.505459  0.122817  112.774765

            SO2
2557  44.263423
2558  20.545087
2559  22.646297
2560  10.580135
2561  30.814997

In [10]:
#show the summary statistics for all numeric columns
print("summary statistics")
print(df.describe())

summary statistics
               AQI        PM2.5         PM10          NO2           CO  \
count  2562.000000  2562.000000  2562.000000  2562.000000  2562.000000
mean    277.635051   276.738486   275.988290    54.151115     1.037476
std     128.603738   131.015126   131.900856    25.744072     0.560294
min      50.000000     2.000000   -26.000000    10.036926     0.100100
25%     166.250000   165.000000   166.000000    32.025372     0.545341
50%     276.000000   274.500000   274.000000    53.606459     1.010095
75%     388.750000   388.000000   386.000000    76.322683     1.533300
max     499.000000   543.000000   559.000000    99.974242     1.999528

                O3          SO2
count  2562.000000  2562.000000
mean    104.832673    27.746349
std      54.878784    12.927527
min      10.045129     5.000524
25%      58.169877    16.685076
50%     104.345545    27.872017
75%     152.515574    38.878445
max     199.979607    49.976055

In [17]:
#use numpy to compute mean of AQI, PM2.5, and PM10 for each city
import numpy as np
df_grouped = df.groupby('City')
mean_aqi = df_grouped['AQI'].mean()
mean_pm25 = df_grouped['PM2.5'].mean()
mean_pm10 = df_grouped['PM10'].mean()

print("mean AQI:", mean_aqi)
print("\n")
print("mean PM2.5:", mean_pm25)
print("\n")
print("mean PM10:", mean_pm10)

mean AQI: City
Bangalore    279.543716
Chennai      274.314208
Delhi        279.153005
Hyderabad    280.355191
Kolkata      265.901639
Mumbai       287.797814
Pune         276.379781
Name: AQI, dtype: float64


mean PM2.5: City
Bangalore    278.469945
Chennai      275.139344
Delhi        279.898907
Hyderabad    277.825137
Kolkata      264.663934
Mumbai       286.046448
Pune         275.125683
Name: PM2.5, dtype: float64


mean PM10: City
Bangalore    277.759563
Chennai      273.265027
Delhi        279.349727
Hyderabad    276.456284
Kolkata      263.644809
Mumbai       286.669399
Pune         274.773224
Name: PM10, dtype: float64

In [22]:
#display all rows where city is Delhi
df_delhi = df[df['City'] == 'Delhi']
print("All rows where city is delhi:\n")
print(df_delhi)

All rows where city is delhi:

      City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
0    Delhi  2024-01-01  152    153   151  26.509131  1.581413  123.401530
1    Delhi  2024-01-02  264    288   268  87.955853  1.242119  144.533790
2    Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3    Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
4    Delhi  2024-01-05  237    266   250  51.046299  1.591834   47.938019
..     ...         ...  ...    ...   ...        ...       ...         ...
361  Delhi  2024-12-27  165    206   189  31.491659  0.957355  197.148035
362  Delhi  2024-12-28  496    511   505  18.473672  0.752960   63.661871
363  Delhi  2024-12-29  276    231   239  69.110209  1.661996   82.279801
364  Delhi  2024-12-30  356    316   341  26.805097  0.278669   77.767485
365  Delhi  2024-12-31  134    155   179  67.840719  0.472098  180.422007

           SO2
0    25.062474
1     5.926302
2    32.786668
3     7.099955
4    28.140550
..         ...
361  39.740561
362  22.582776
363  39.902533
364  39.086685
365  28.408574

[366 rows x 9 columns]

In [23]:
#display the first 10 rows, showing only the columns City, AQI and PM2.5
print("first 10 rows containing only the columns City, AQI and PM2.5: \n")
print(df.head(10)[['City', 'AQI', 'PM2.5']])

first 10 rows containing only the columns City, AQI and PM2.5:

    City  AQI  PM2.5
0  Delhi  152    153
1  Delhi  264    288
2  Delhi  307    344
3  Delhi  363    334
4  Delhi  237    266
5  Delhi  369    321
6  Delhi  365    328
7  Delhi  493    513
8  Delhi  409    362
9  Delhi  451    490

In [24]:
#use numpy to filter out and display all rows where AQI is greater than 300 and PM10 is greater than 200
import numpy as np
df_filtered = df[(df['AQI'] > 300) & (df['PM10'] > 200)]
print("rows where AQI>300 and PM10>200: \n")
print(df_filtered)

rows where AQI>300 and PM10>200:

       City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
2     Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3     Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
5     Delhi  2024-01-06  369    321   327  64.679037  0.423996   22.359803
6     Delhi  2024-01-07  365    328   347  44.687485  0.130336   53.869827
7     Delhi  2024-01-08  493    513   526  54.565922  0.165338  182.770876
...     ...         ...  ...    ...   ...        ...       ...         ...
2545   Pune  2024-12-15  305    302   294  66.795920  1.076536  144.653815
2547   Pune  2024-12-17  446    467   452  54.347401  1.789507   75.815871
2554   Pune  2024-12-24  368    332   357  49.869238  0.674453  197.461357
2557   Pune  2024-12-27  419    448   462  26.701714  1.553582   86.973954
2559   Pune  2024-12-29  365    414   410  80.815702  1.919950   39.982167

            SO2
2     32.786668
3      7.099955
5     47.699849
6     15.846146
7     16.645099
...         ...
2545  22.587510
2547  21.619858
2554  17.239430
2557  44.263423
2559  22.646297

[1133 rows x 9 columns]